<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.robincarozzani.wakeUpCall"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />
    
    
    <!-- PERMISSIONS -->
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
 	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
 	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    
    <!-- APPLICATION TAGS -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_ico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="fr.robincarozzani.wakeUpCall.view.activities.Home"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        <!-- *** ALARM *** -->
        
        <activity
            android:name="fr.robincarozzani.wakeUpCall.view.activities.alarm.ListAlarms"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="fr.robincarozzani.wakeUpCall.view.activities.alarm.EditAlarm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="fr.robincarozzani.wakeUpCall.view.activities.alarm.ChoosePlaylist"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="fr.robincarozzani.wakeUpCall.view.activities.alarm.ChooseDate"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="fr.robincarozzani.wakeUpCall.view.activities.alarm.ActiveAlarm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        
        <!-- ALARM MANAGER -->
        <receiver android:name="fr.robincarozzani.wakeUpCall.objects.alarmManager.AlarmReceiver" />
        
        
        
        
		<!-- *** PLAYLIST *** -->
        
        <activity 
            android:name="fr.robincarozzani.wakeUpCall.view.activities.playlist.ListPlaylists" 
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="fr.robincarozzani.wakeUpCall.view.activities.playlist.EditPlaylist"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="fr.robincarozzani.wakeUpCall.view.activities.playlist.SongsSelector"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        
    </application>

</manifest>
